data_old/
faulty_downloads_old/
temp_downloads_old/
data_cleaned_sample/
data_raw/
faulty_downloads/
temp_downloads/
.ipynb_checkpoints/
*.png
log_demo_result.txt
data/*
data_cleaned/*
captcha/*
!.gitkeep
venv/
.idea/
__pycache__/*
build/
.env
geckodriver.log