data_raw/
busquedaform_faulty_downloads/
casillero_digital_temp_downloads/
busquedaform_temp_downloads/
.ipynb_checkpoints/
*.png
log_demo_result.txt
data/*
data_cleaned/*
captcha/*
!.gitkeep
venv/
linux_venv/
.idea/
__pycache__/
build/
.env
geckodriver.log
__pycache__/