argcomplete==1.10.0
awscli==1.19.33
beautifulsoup4==4.8.0
botocore==1.20.33
certifi==2022.9.14
chardet==3.0.4
charset-normalizer==2.1.1
chromedriver==2.24.1
chromedriver-autoinstaller==0.4.0
colorama==0.4.3
cycler==0.11.0
docutils==0.15.2
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
idna==3.4
IMAPClient==2.1.0
jmespath==0.10.0
kiwisolver==1.4.4
lmdb==0.98
lxml==4.9.1
matplotlib==3.2.1
natsort==7.0.1
numpy==1.19.5
olefile==0.46
opencv-python==4.5.1.48
pandas==1.2.0
pdfminer.six==20181108
Pillow==8.1.0
pyasn1==0.4.8
pycryptodome==3.15.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
python-pptx==0.6.18
pytz==2022.2.1
PyYAML==5.4.1
requests==2.28.1
rsa==4.5
s3transfer==0.3.7
selenium==3.141.0
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
textract==1.6.3
torch==1.8.0
torchvision==0.9.0
tqdm==4.46.1
typing_extensions==4.3.0
tzlocal==1.5.1
urllib3==1.26.12
webdriver-manager==3.8.3
xlrd==1.2.0
XlsxWriter==3.0.3
